aiohappyeyeballs       
aiohttp                
aiosignal              
annotated-types        
anyio                  
async-timeout          
attrs                  
Babel                  
bcc                    
blinker                
Brlapi                 
build                  
CacheControl           
certifi                
cffi                   
chardet                
charset-normalizer     
cleo                   
click                  
cloud-init             
colorama               
command-not-found      
configobj              
crashtest              
cryptography           
cupshelpers            
dbus-python            
defer                  
dill                   
distlib                
distro                 
distro-info            
dnspython              
dulwich                
email_validator        
exceptiongroup         
fastapi               
fastapi-cli            
fastjsonschema         
filelock               
frozenlist             
greenlet               
h11                    
httpcore               
httplib2               
httptools              
httpx                  
ibm-cos-sdk            
ibm-cos-sdk-core       
ibm-cos-sdk-s3transfer 
ibm_watsonx_ai         
idna                   
importlib_metadata     
installer              
jaraco.classes         
jeepney                
Jinja2                 
jmespath               
jsonpatch              
jsonpointer            
jsonschema             
keyring                
language-selector      
launchpadlib           
lazr.restfulclient     
lazr.uri               
lomond                 
louis                  
markdown-it-py         
MarkupSafe             
mdurl                  
more-itertools         
mpmath                 
msgpack                
multidict              
netaddr                
numpy                  
oauthlib               
olefile                
packaging              
pandas                 
pbr                    
pexpect                
pillow                 
pip                    
pkginfo                
platformdirs           
poetry                 
poetry-core            
poetry-plugin-export   
propcache              
ptyprocess             
pycairo                
pycparser              
pycups                 
pydantic               
pydantic_core          
Pygments               
PyGObject              
PyJWT                  
pynvim                 
pyparsing              
pyproject_hooks        
pyrsistent             
pyserial               
python-apt             
python-dateutil        
python-debian     
python-dotenv          
python-multipart       
pytz                   
pyxdg                  
PyYAML                 
qiskit                 
RapidFuzz              
requests               
requests-toolbelt      
rich                   
rich-toolkit           
rustworkx              
scipy                  
SecretStorage          
setuptools             
shellingham            
six                    
sniffio                
starlette              
stevedore              
symengine              
sympy                  
systemd-python         
tabulate               
tomli                  
tomlkit                
trove-classifiers      
typer                  
typing_extensions      
tzdata                 
ubuntu-drivers-common  
ubuntu-pro-client      
ufw                    
unattended-upgrades    
urllib3                
uvicorn                
uvloop                 
virtualenv             
wadllib                
watchfiles             
websockets             
wheel                  
xdg                    
xkit                   
yarl                   
zipp                   